p {
    margin: 0;
}
.report-item {
    padding: 25px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
.report-item__text {
    display: flex;
}

.report-item p {
    font-weight: 100;
    letter-spacing: 1px;
}
.report-item__text span {
    flex: 1;
    font-weight: bold;
    font-size: 30px;
}
.icon {
    color: #fa556f;
    font-size: 40px;
}
